* {
    box-sizing:border-box;
  } 
body {
    font-family:Arial, Helvetica, sans-serif;
    height:100%;
    width:100%;
    margin:0;
    background-color:rgb(215, 221, 223);
}

.header {
    background-color:rgba(200, 248, 248, 0.479);
    height:40px;
}

.header-logo {
    float:left;
    margin: 10px 20px;
}
.header-nav {
    float:left;
}
.header-nav-item li {
    float:left;
    list-style:none;
    font-size: 0.8rem;
    margin: 0 20px;            
}
a {
    text-decoration:none;
    color:rgb(35, 127, 155);
    
}
.login-bar {
    float:right;
    margin: 2px 20px;
}  

.main-top {
    max-width: 100%;
    margin: 0 8%;
    padding-top: 30px;
}
.sturbon-pic {
    max-width: 100%;
    height:auto;
}

/* Use a responsive grid-view  with 12 columns in order to have more control over the web page's layout

First, calculate the percentage for one column: 100%/12 columns = 8.33%

Then make one class for each of the 12 columns, class="col-" and a number defining how many columns the section should span, as shown below:*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* All the above columns should be floating to the left, and have a padding of 15px as set below:*/

[class*="col-"] {
    float: left;
    padding: 15px;

}

/* Each row should be wrapped in a div. The number of columns inside a row whould always add up to 12*/

.row::after { 
    content:"";
    clear:both;
    display:table;
}
/* The columns inside a row are all floating to the left, and therefore taken out of the flow of the page, and other elements will be placed as if the columns do not exist. To prevent this, we add a style that clears the flow as above*/

.row {
    max-width:90%;
    margin:auto;
}        

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position:absolute;
    z-index: 1;
}
.info-tooltip-icon:hover {
    visibility:visible;
}

   

.flex-container {
    display:flex;
    flex-direction: row;
    background-color:white;
    height:100%;            
    margin-top:50px;
    padding:40px;
}
.flex-footer-list a {
    color:grey;
    font-size: 0.85rem;
}
@media screen and (max-width:600px) {
    .header {
    height: 200px;
    }
}

@media screen and (max-width:600px) {
    .header-nav-item li {
    width: 100%;
    }
}
@media screen and (max-width:600px) {
    .login-bar {
    width: 100%; margin: 10px 0 10px 0;
    }
}
@media screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .sturbon-pic {
        max-width: 100%;
        height:auto;
    }
}